.three_row {
    height: 100vh;
    width: 100%;
    margin: 0;
}

figure > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    position: relative;
}

figure > figcaption {
    position: absolute;
    bottom: 10;
    left: 10;
    color: gray;
    font-size: 14px; 
}